
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-variant: 'Lexend Deca';
}

    body {
        display: flex;
        min-height: 100vh;
        max-width: 100vw;
        background-color: hsl(233, 47%, 7%) ;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        padding-top: 5rem;
        padding-bottom: 5rem;
        height: 150vh;
        background-color: hsl(233, 47%, 7%) ;
        width: 414px;
    }

    .card {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        align-items: center;
        height: 800px;
        width: 350px;
        color: white;
        border-radius: 10px;
        background-color: hsl(244, 38%, 16%);
    }

    img {
        display: flex;
        justify-content: flex-start;
        width: 350px;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    h1 {
        padding: 32px;
        font-weight: bold;
        font-size: 30px;
    }

    span {
        color: blueviolet;
        font-weight: bold;
    }

    h2 {
        color: rgb(121, 121, 121);
        padding: 30px;
        font-size: 16px;
        line-height: 1.5;
    }

    .a {
        margin-top: 20px;
        font-size: 25px;
        line-height: 1.5;
        font-weight: bold;
    }

    .b {
        color: rgb(121, 121, 121);
        line-height: 1.5;
        font-size: 14px;
        font-family: 'Lexend Deca';
    }

    .c {
        line-height: 1.5;
        font-weight: bold;
        font-size: 25px;
    }

    .d {
      color: rgb(121, 121, 121);
        line-height: 1.5;
        font-size: 14px;
        font-family: 'Lexend Deca';
    }

    .e {
        line-height: 1.5;
        font-weight: bold;
        font-size: 25px;
    }

    .f {
        color: rgb(121, 121, 121);
        line-height: 1.5;
        font-size: 14px;
        font-family: 'Lexend Deca';
    }